// Forms
[class^="btn--"] {
    width: 100%;
  display: inline-block;
}
.form {
 @include flexy($dir: column, $just: center);
 color: $grey;
 @include e(label) {
   @include m(hidden) {
    @extend .srt;
   }
    display: block;
  margin-bottom: em(10px);
  }

  @include e(input) {
    font-size: em(18px);
    font-weight: $font-weight--bold;
    text-indent: em(15px);
    margin-bottom: em(20px);
    height: em(50px);
    border-bottom: em(7px) solid $eblue;

    &:focus {
      background-color: lighten($eblue, 20%);
    }
  }

  @include mq(large) {
   margin-left: em(30px);
  }
}
