// Typography

.card {
  color: $grey;
}

p {
  line-height: (27px / 18px);
}

.headline--primary {
  color: $eblue;
  font-weight: $font-weight--ultra-bold;
  padding-left: em(10px);
  line-height: em(16px);
}

.headline--secondary {
  color: $grey;
  font-size: em(20px);
  font-weight: $font-weight--light;
  margin-bottom: em(5px);
}

a {
  color: $fountain-blue;
}
